.header {
  background-color: var(--bg-alt);
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;

  display: grid;
  grid-template: 1fr / max-content 1fr max-content;
  align-items: center;
  grid-column-gap: 10px;
}

.logo,
.cart {
  fill: var(--bg);
  width: "48px";
  height: "48px";
}

.cartPanel {
  display: grid;
  grid-template: 1fr / max-content 24px min-content max-content;
  grid-column-gap: 5px;
  align-items: center;
  cursor: pointer;
}
.cartPanel:hover .cart {
  transition: fill 0.3s;
  fill: var(--alt);
}
.cartPanel:hover p {
  transition: color 0.3s;
  color: var(--alt);
}
.cart {
  transform: scale(1);
}

.link {
  width: fit-content;
}
