.card {
  display: grid;
  grid-template: 1fr / max-content 1fr;
  box-shadow: 1px 1px 4px var(--shadow), -1px 1px 4px var(--shadow);
  height: 120px;
}

.img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.info {
  display: grid;
  grid-template: 1fr / 1fr max-content;
  padding: 10px;

  border: 2px solid var(--bg-alt);
  border-left: 0px solid transparent;
}

.text {
  display: grid;
  grid-template: min-content 1fr / 1fr;
  grid-row-gap: 20px;
}

.price {
  margin-top: 8px;
}

.countControls {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  grid-column-gap: 10px;
  align-self: center;
}

.btn {
  width: 40px;
  height: 40px;
}
