.font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.size2 {
  font-size: 14px;
}

.size3 {
  font-size: 16px;
}

.size4 {
  font-size: 20px;
}

.size5 {
  font-size: 24px;
}

.bold {
  font-weight: bold;
}

.light {
  color: var(--bg);
}

.link {
  display: inline-block;
  transition: color 0.3s;
  cursor: pointer;
}

.link:hover {
  color: var(--alt);
}
