.main {
  background: var(--bg-alt);
  border: 3px solid var(--bg-alt-minor);
}

.alt {
  background: var(--main);
  border: 3px solid var(--main-minor);
}

.btn {
  width: fit-content;
  color: var(--text-light);
  cursor: pointer;
  transition: background 0.3s, box-shadow 0.3s, transform 0.3s;
  box-shadow: 1px 1px 4px var(--shadow), -1px 1px 4px var(--shadow);
  transform: translateY(0);
  padding: 6px;
  border-radius: 4px;
  height: 46px;
  overflow: hidden;
}

.disabled {
  background: var(--inactive);
  border-color: var(--inactive-minor);
  cursor: not-allowed;
}

.success {
  background: var(--success);
  border: 3px solid var(--success-minor);
  cursor: not-allowed;
}

.main:hover {
  transform: translateY(-4px);
  background: var(--bg-alt-minor);
  box-shadow: 2px 2px 4px var(--shadow-major), -2px 2px 4px var(--shadow-major);
}

.alt:hover {
  transform: translateY(-4px);
  background: var(--main-minor);
  box-shadow: 2px 2px 4px var(--shadow-major), -2px 2px 4px var(--shadow-major);
}

.disabled:hover {
  background: var(--inactive);
}

.success:hover {
  transform: translateY(-4px);
  background: var(--success);
  box-shadow: 2px 2px 4px var(--shadow-major), -2px 2px 4px var(--shadow-major);
}

.wide {
  width: 100%;
}

.loader {
  transform: translateY(-36%);
}
