.page {
  display: grid;
  grid-template: 1fr / 678px max-content;
  grid-column-gap: 80px;
  justify-content: center;
}

.items {
  display: grid;
  grid-row-gap: 20px;
  grid-template: repeat(auto-fill, 120px) / 1fr;
  height: 408px;
  box-shadow: 1px 1px 4px var(--shadow), -1px 1px 4px var(--shadow);
  padding: 4px;
  overflow-y: auto;
}

.form {
  width: 300px;
  display: grid;
  box-shadow: 1px 1px 4px var(--shadow), -1px 1px 4px var(--shadow);

  grid-row-gap: 10px;
  padding: 20px;
}

.emptyText {
  grid-template: 1fr / 1fr;
  justify-items: center;
  align-items: center;
}

.total {
  text-decoration: underline;
  margin-top: 20px;
}

.errorTxt {
  height: 0 px;
}
