.card {
  display: grid;
  width: 260px;
  box-shadow: 1px 1px 4px var(--shadow), -1px 1px 4px var(--shadow);
  transition: transform 0.3s;
  transform: translateY(0px);
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 2px 2px 4px var(--shadow-major), -2px 2px 4px var(--shadow-major);
}

.img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.info {
  padding: 10px;
  border: 2px solid var(--bg-alt);
  border-top: 0px solid transparent;
}

.name {
  margin-bottom: 8px;
}

.btn {
  margin-top: 8px;
}
