:root {
  --text: #404040;
  --text-light: #fdfffc;

  --shadow: #333333;
  --shadow-major: #222222;

  --bg: #fdfffc;
  --bg-alt: #011627;
  --bg-alt-minor: #003663;

  --alt: #ffbfc8;
  --main: #41ead4;
  --main-minor: #56fde7;
  --success: #00962d;
  --success-minor: #48fd7f;
  --inactive: #ff8998;
  --inactive-minor: #ffbfc8;
}
